In [3]:
import pandas as pd

In [4]:
schools_data_load="resources/schools_complete.csv"
students_data_load="resources/students_complete.csv"

In [5]:
schools_data_df=pd.read_csv(schools_data_load)
students_data_df=pd.read_csv(students_data_load)

In [6]:
students_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
schools_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [8]:
schools_data_df.count()
students_data_df.count() #there are 39170 rows for each column

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [9]:
students_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [10]:
schools_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [14]:
students_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [11]:
schools_data_df.budget.dtypes

dtype('int64')

In [16]:
schools_data_df["budget"].dtypes

dtype('int64')

In [12]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
for word in prefixes_suffixes:
    students_data_df["student_name"]=students_data_df["student_name"].str.replace(word,"")

<ipython-input-12-b421aa197553>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  students_data_df["student_name"]=students_data_df["student_name"].str.replace(word,"")

In [13]:
school_data_complete_df = pd.merge(students_data_df, schools_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [14]:
student_count=school_data_complete_df["Student ID"].count()
print(student_count)

39170

In [15]:
school_count_2=len(school_data_complete_df["school_name"].unique())
print(school_count_2)

15

In [16]:
total_budget=schools_data_df["budget"].sum()
print(total_budget)

24649428

In [17]:
average_reading_score=school_data_complete_df["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [21]:
average_math_score=school_data_complete_df["math_score"].mean()
print(average_math_score)

78.98537145774827

In [22]:
passing_math=school_data_complete_df[school_data_complete_df["math_score"]>=70]
passing_reading=school_data_complete_df[school_data_complete_df["reading_score"]>=70]

In [37]:
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [38]:
passing_math_count=passing_math["math_score"].count()
print(passing_math_count)

29370

In [39]:
passing_reading_count=passing_reading["reading_score"].count()
print(passing_reading_count)

33610

In [40]:
pass_read_percent=passing_reading_count/float(student_count)*100
print(pass_read_percent)

85.80546336482001

In [42]:
pass_math_percent=passing_math_count/float(student_count)*100
print(pass_math_percent)

74.9808526933878

In [43]:
passing_both=school_data_complete_df[(school_data_complete_df["math_score"]>=70)&(school_data_complete_df["reading_score"]>=70)]

In [44]:
passing_both_count=passing_both["Student ID"].count()
#OR passing_both.student_name.count()
print(passing_both_count)

25528

In [45]:
overall_passpercent=passing_both_count/float(student_count)*100
print(overall_passpercent)

65.17232575950983

In [46]:
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count_2,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": pass_math_percent,
         "% Passing Reading": pass_read_percent,
        "% Overall Passing": overall_passpercent}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [47]:
district_summary_df.dtypes

Total Schools              int64
Total Students             int64
Total Budget               int64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [48]:
district_summary_df["Average Math Score"]=district_summary_df["Average Math Score"].map("{:.0f}".format)

In [49]:
district_summary_df["Average Reading Score"]=district_summary_df["Average Reading Score"].map("{:.0f}".format)
district_summary_df["% Passing Math"]=district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"]=district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"]=district_summary_df["% Overall Passing"].map("{: .1f}".format)

In [50]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79,82,75.0,85.8,65.2

In [51]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79,82,75.0,85.8,65.2

In [52]:
schools_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [53]:
per_schools_type=schools_data_df.set_index(["school_name"])["type"]
per_schools_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [54]:
per_schools_name=pd.DataFrame(per_schools_name)
per_schools_name

NameError: name 'per_schools_name' is not defined

In [55]:
#first way
# per_schools_counts=school_data_complete_df["school_name"].value_counts()
# per_schools_counts

In [56]:
#2nd way
per_schools_counts=schools_data_df.set_index(["school_name"])["size"]
per_schools_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [58]:
per_schools_budgets=schools_data_df.set_index(["school_name"])["budget"]
per_schools_budgets

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [59]:
per_schools_capita=per_schools_budgets/per_schools_counts
per_schools_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [60]:
per_schools_math=school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_schools_reading=school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [61]:
per_schools_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [62]:
per_schools_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [64]:
per_school_passing_math=passing_math.groupby("school_name").count()["student_name"]
per_school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [65]:
per_school_passing_reading=passing_reading.groupby("school_name").count()["student_name"]
per_school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [67]:
passing_math_percent=per_school_passing_math/per_schools_counts*100

In [68]:
passing_reading_percent=per_school_passing_reading/per_schools_counts*100

In [69]:
per_schools_both=passing_both.groupby("school_name").count()["student_name"]

In [82]:
per_schools_overall=per_schools_both/per_schools_counts*100
per_schools_overall

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [164]:
per_school_summary_df=pd.DataFrame({
    "School Types": per_schools_type,
    "Total Students": per_schools_counts,
    "Total School Budget": per_schools_budgets,
    "Per Student Budget": per_schools_capita,
    "Average Math Score": per_schools_math,
    "Average Reading Score": per_schools_reading,
    "% Passing Math": passing_math_percent,
    "% Passing Reading": passing_reading_percent,
    "% Overall passing": per_schools_overall 
    
})
per_school_summary_df.head()

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [188]:
per_school_summary_df["% Passing Math"]=per_school_summary_df[ "% Passing Math"].astype(float)
per_school_summary_df[ "% Passing Reading"]=per_school_summary_df[ "% Passing Reading"].astype(float)
per_school_summary_df[ "% Overall passing"]=per_school_summary_df[ "% Overall passing"].astype(float)

In [192]:
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df[ "% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:,.1f}".format)
per_school_summary_df[ "% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:,.1f}".format)
per_school_summary_df[ "% Overall passing"] = per_school_summary_df[ "% Overall passing"].map("{:,.1f}".format)

per_school_summary_df.head()

ValueError: Unknown format code 'f' for object of type 'str'

In [207]:
# #Top five highest performing school
top_5_school=per_school_summary_df.sort_values([ "% Overall passing"], ascending=False)
top_5_school.head()
# top_5_passing_school=per_school_summary_df.nlargest(5,"% Overall passing")
# top_5_passing_school

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing,Spending Ranges(Per Student)
school_name,,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1,97.0,91.3,<$584
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.3,97.3,90.9,$630-644
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.4,97.1,90.6,$585-629
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.9,96.5,90.6,<$584
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.6,95.9,90.5,$585-629

In [194]:
#Bottom five 
bottom_5_school=per_school_summary_df.sort_values(["% Overall passing"], ascending=True)
#or per_school_summary_df.sort_values([ "% Overall passing"]) defult of ascending
bottom_5_school.head()

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing,Spending Ranges(Per Student)
school_name,,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.4,80.2,53.0,$630-644
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,66.0,80.7,53.2,$630-644
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.8,80.9,53.5,$645-675
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.7,81.3,53.5,$645-675
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.1,81.2,53.5,$645-675

In [195]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [196]:
ninth_graders=school_data_complete_df[school_data_complete_df["grade"]=="9th"]
tenth_graders=school_data_complete_df[school_data_complete_df["grade"]=="10th"]
eleventh_graders=school_data_complete_df[school_data_complete_df["grade"]=="11th"]
twelfth_graders=school_data_complete_df[school_data_complete_df["grade"]=="12th"]

In [197]:
ninth_graders_math=ninth_graders.groupby("school_name").mean()["math_score"]
tenth_graders_math=tenth_graders.groupby("school_name").mean()["math_score"]
eleventh_graders_math=eleventh_graders.groupby("school_name").mean()["math_score"]
twelfth_graders_math=twelfth_graders.groupby("school_name").mean()["math_score"]
eleventh_graders_math

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [198]:
ninth_graders_reading=ninth_graders.groupby("school_name").mean()["reading_score"]
tenth_graders_reading=tenth_graders.groupby("school_name").mean()["reading_score"]
eleventh_graders_reading=eleventh_graders.groupby("school_name").mean()["reading_score"]
twelfth_graders_reading=twelfth_graders.groupby("school_name").mean()["reading_score"]
twelfth_graders_reading

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [199]:
math_score_by_grades_df=pd.DataFrame({
    "9th":ninth_graders_math,
    "10th":tenth_graders_math,
    "11th":eleventh_graders_math,
    "12th": twelfth_graders_math
})
math_score_by_grades_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [175]:
reading_score_by_grades_df=pd.DataFrame({
    "9th":ninth_graders_reading,
    "10th":tenth_graders_reading,
    "11th":eleventh_graders_reading,
    "12th": twelfth_graders_reading
})
math_score_by_grades_df.dtypes

9th     float64
10th    float64
11th    float64
12th    float64
dtype: object

In [176]:
reading_score_by_grades_df["9th"]=reading_score_by_grades_df["9th"].map("{:,.1f}".format)
reading_score_by_grades_df["10th"]=reading_score_by_grades_df["10th"].map("{:,.1f}".format)
reading_score_by_grades_df["11th"]=reading_score_by_grades_df["11th"].map("{:,.1f}".format)
reading_score_by_grades_df["12th"]=reading_score_by_grades_df["12th"].map("{:,.1f}".format)
reading_score_by_grades_df.head()

                       9th  10th  11th  12th
school_name
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0

In [177]:
math_score_by_grades_df["9th"]=math_score_by_grades_df["9th"].map("{:,.1f}".format)
math_score_by_grades_df["10th"]=math_score_by_grades_df["10th"].map("{:,.1f}".format)
math_score_by_grades_df["11th"]=math_score_by_grades_df["11th"].map("{:,.1f}".format)
math_score_by_grades_df["12th"]=math_score_by_grades_df["12th"].map("{:,.1f}".format)
math_score_by_grades_df.head()

                       9th  10th  11th  12th
school_name
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [178]:
#Establish Spending Bins
per_school_summary_df.head()

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.7,81.9,54.6
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1,97.0,91.3
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,66.0,80.7,53.2
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.3,79.3,54.3
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.4,97.1,90.6

In [179]:
per_schools_capita.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [180]:
Spending_bins=[0,585,635,645,675]
pd.cut(per_schools_capita,Spending_bins)

school_name
Huang High School        (645, 675]
Figueroa High School     (635, 645]
Shelton High School      (585, 635]
Hernandez High School    (645, 675]
Griffin High School      (585, 635]
Wilson High School         (0, 585]
Cabrera High School        (0, 585]
Bailey High School       (585, 635]
Holden High School         (0, 585]
Pena High School         (585, 635]
Wright High School         (0, 585]
Rodriguez High School    (635, 645]
Johnson High School      (645, 675]
Ford High School         (635, 645]
Thomas High School       (635, 645]
dtype: category
Categories (4, interval[int64]): [(0, 585] < (585, 635] < (635, 645] < (645, 675]]

In [181]:
#Groupby to categorize the bins
per_schools_capita.groupby(pd.cut(per_schools_capita,Spending_bins)).count()
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [218]:
per_school_summary_df["Spending Ranges(Per Student)"]=pd.cut(per_schools_capita,Spending_bins, labels=group_names)
per_school_summary_df.head()

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing,Spending Ranges(Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.7,81.9,54.6,$585-629
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1,97.0,91.3,<$584
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,66.0,80.7,53.2,$630-644
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.3,79.3,54.3,$630-644
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.4,97.1,90.6,$585-629

In [202]:
spending_math_score=per_school_summary_df.groupby(["Spending Ranges(Per Student)"]).mean()['Average Math Score']
spending_reading_score=per_school_summary_df.groupby(["Spending Ranges(Per Student)"]).mean()['Average Reading Score']
spending_math_percent=per_school_summary_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Math"]
spending_reading_percent=per_school_summary_df.groupby(["Spending Ranges(Per Student)"]).mean()['% Passing Reading']
spending_oberall_percent=per_school_summary_df.groupby(["Spending Ranges(Per Student)"]).mean()['% Overall passing']

In [203]:
spending_oberall_percent

Spending Ranges(Per Student)
<$584       90.35
$585-629    81.40
$630-644    62.85
$645-675    53.50
Name: % Overall passing, dtype: float64

In [204]:
spending_summary=pd.DataFrame({
              "Average Math Score" : spending_math_score,
          "Average Reading Score": spending_reading_score,
          "% Passing Math": spending_math_percent,
          "% Passing Reading": spending_reading_percent,
          "% Overall Passing": spending_oberall_percent    
    
})
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
<$584,83.455399,83.933814,93.45,96.600000,90.35
$585-629,81.899826,83.155286,87.15,92.700000,81.40
$630-644,78.518855,81.624473,73.50,84.375000,62.85
$645-675,76.997210,81.027843,66.20,81.133333,53.50

In [211]:
#School size bin
per_school_summary_df["Total Students"].describe()

count      15.000000
mean     2611.333333
std      1420.915282
min       427.000000
25%      1698.000000
50%      2283.000000
75%      3474.000000
max      4976.000000
Name: Total Students, dtype: float64

In [223]:
school_bins=[0,1000,1999,5000]
school_groups=["Small (<1000)","Medium(1000-2000)","large(2000-5000)"]
pd.cut(per_school_summary_df["Total Students"],school_bins)
per_school_summary_df["Total Students"].groupby(pd.cut(per_school_summary_df["Total Students"],school_bins)).count()

Total Students
(0, 1000]       2
(1000, 1999]    5
(1999, 5000]    8
Name: Total Students, dtype: int64

In [224]:
per_school_summary_df["School Size"]=pd.cut(per_school_summary_df["Total Students"],school_bins,labels=school_groups)
per_school_summary_df.head()

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing,Spending Ranges(Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.7,81.9,54.6,$585-629,large(2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1,97.0,91.3,<$584,Medium(1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,66.0,80.7,53.2,$630-644,large(2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.3,79.3,54.3,$630-644,large(2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.4,97.1,90.6,$585-629,Medium(1000-2000)

In [225]:
size_math_score=per_school_summary_df.groupby(["School Size"]).mean()['Average Math Score']
size_reading_score=per_school_summary_df.groupby(["School Size"]).mean()['Average Reading Score']
size_math_percent=per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_reading_percent=per_school_summary_df.groupby(["School Size"]).mean()['% Passing Reading']
size_oberall_percent=per_school_summary_df.groupby(["School Size"]).mean()['% Overall passing']

In [226]:
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_score,
          "Average Reading Score": size_reading_score,
          "% Passing Math": size_math_percent,
          "% Passing Reading": size_reading_percent,
          "% Overall Passing": size_oberall_percent})

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.5500,96.10,89.850
Medium(1000-2000),83.374684,83.864438,93.6000,96.78,90.600
large(2000-5000),77.746417,81.344493,69.9875,82.75,58.275