In [4]:
import pandas as pd

In [5]:
schools_data_load="resources/schools_complete.csv"
students_data_load="resources/students_complete.csv"

In [6]:
schools_data_df=pd.read_csv(schools_data_load)
students_data_df=pd.read_csv(students_data_load)

In [7]:
students_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
schools_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [9]:
schools_data_df.count()
students_data_df.count() #there are 39170 rows for each column

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [12]:
students_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [13]:
schools_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [14]:
students_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [15]:
schools_data_df.budget.dtypes

dtype('int64')

In [16]:
schools_data_df["budget"].dtypes

dtype('int64')

In [9]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
for word in prefixes_suffixes:
    students_data_df["student_name"]=students_data_df["student_name"].str.replace(word,"")

<ipython-input-9-b421aa197553>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  students_data_df["student_name"]=students_data_df["student_name"].str.replace(word,"")

In [10]:
school_data_complete_df = pd.merge(students_data_df, schools_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
student_count=school_data_complete_df["Student ID"].count()
print(student_count)

39170

In [13]:
school_count_2=len(school_data_complete_df["school_name"].unique())
print(school_count_2)

15

In [14]:
total_budget=schools_data_df["budget"].sum()
print(total_budget)

24649428

In [15]:
average_reading_score=school_data_complete_df["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [16]:
average_math_score=school_data_complete_df["math_score"].mean()
print(average_math_score)

78.98537145774827

In [54]:
passing_math=school_data_complete_df[school_data_complete_df["math_score"]>=70]
passing_reading=school_data_complete_df[school_data_complete_df["reading_score"]>=70]

In [53]:
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [18]:
passing_math_count=passing_math["math_score"].count()
print(passing_math_count)

29370

In [19]:
passing_reading_count=passing_reading["reading_score"].count()
print(passing_reading_count)

33610

In [20]:
pass_read_percent=passing_reading_count/float(student_count)*100
print(pass_read_percent)

85.80546336482001

In [21]:
pass_math_percent=passing_math_count/float(student_count)*100
print(pass_math_count)

NameError: name 'pass_math_count' is not defined

In [57]:
passing_both=school_data_complete_df[(school_data_complete_df["math_score"]>=70)&(school_data_complete_df["reading_score"]>=70)]

In [23]:
passing_both_count=passing_both["Student ID"].count()
#OR passing_both.student_name.count()
print(passing_both_count)

25528

In [24]:
overall_passpercent=passing_both_count/float(student_count)*100
print(overall_passpercent)

65.17232575950983

In [25]:
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count_2,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": pass_math_percent,
         "% Passing Reading": pass_read_percent,
        "% Overall Passing": overall_passpercent}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [26]:
district_summary_df.dtypes

Total Schools              int64
Total Students             int64
Total Budget               int64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [27]:
district_summary_df["Average Math Score"]=district_summary_df["Average Math Score"].map("{:.0f}".format)

In [28]:
district_summary_df["Average Reading Score"]=district_summary_df["Average Reading Score"].map("{:.0f}".format)
district_summary_df["% Passing Math"]=district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"]=district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"]=district_summary_df["% Overall Passing"].map("{: .1f}".format)

In [29]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79,82,75.0,85.8,65.2

In [30]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79,82,75.0,85.8,65.2

In [31]:
schools_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [61]:
per_schools_type=schools_data_df.set_index(["school_name"])["type"]
per_schools_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [36]:
per_schools_name=pd.DataFrame(per_schools_name)
per_schools_name

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [43]:
#first way
# per_schools_counts=school_data_complete_df["school_name"].value_counts()
# per_schools_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [45]:
#2nd way
per_schools_counts=schools_data_df.set_index(["school_name"])["size"]
per_schools_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [46]:
per_schools_budgets=schools_data_df.set_index(["school_name"])["budget"]
per_schools_budgets

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [47]:
per_schools_capita=per_schools_budgets/per_schools_counts
per_schools_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [49]:
per_schools_math=school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_schools_reading=school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [50]:
per_schools_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [51]:
per_schools_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [55]:
per_school_passing_math=passing_math.groupby("school_name").count()["student_name"]
per_school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [56]:
per_school_passing_reading=passing_reading.groupby("school_name").count()["student_name"]
per_school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [62]:
passing_math_percent=per_school_passing_math/per_schools_counts*100

In [63]:
passing_reading_percent=per_school_passing_reading/per_schools_counts*100

In [59]:
per_schools_both=passing_both.groupby("school_name").count()["student_name"]

In [60]:
per_schools_overall=per_schools_both/per_schools_counts*100
per_schools_overall

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [72]:
per_school_summary_df=pd.DataFrame({
    "School Types": per_schools_type,
    "Total Students": per_schools_counts,
    "Total School Budget": per_schools_budgets,
    "Per Student Budget": per_schools_capita,
    "Average Math Score": per_schools_math,
    "Average Reading Score": per_schools_reading,
    "% Passing Math": passing_math_percent,
    "% Passing Reading": passing_reading_percent,
    "% Overall passing": per_schools_overall 
    
})
per_school_summary_df.head()

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [73]:
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df[ "% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:,.1f}".format)
per_school_summary_df[ "% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:,.1f}".format)
per_school_summary_df[ "% Overall passing"] = per_school_summary_df[ "% Overall passing"].map("{:,.1f}".format)

per_school_summary_df.head()

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.7,81.9,54.6
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.1,97.0,91.3
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,66.0,80.7,53.2
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.3,79.3,54.3
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.4,97.1,90.6